body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  /* Modern font family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceff1;
  color: rgb(48, 34, 34);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Pokegame-title {
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  /* Another modern font family */
  background: -webkit-linear-gradient(#000000, #6d6d6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}